<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jack Manning & Samuel Baker">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>UEA News Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
    <link rel="stylesheet" href="static/stylesheet.css">
 </head>
 
 
  

  <body>
    <nav class="navbar navbar-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            UEA PORTAL <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Fill 28</title><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M8.18752582,16.9130829 C8.11309376,10.2758407 6.62023957,8.84824988 0,8.78355118 L0,8.12812526 C6.62023957,8.06202008 8.11309376,6.63864877 8.18752582,-5.68434189e-14 L8.81247418,-5.68434189e-14 C8.88831062,6.63864877 10.3797604,8.0563941 17,8.12249929 L17,8.78355118 C10.3797604,8.84824988 8.88831062,10.2758407 8.81247418,16.9130829 L8.18752582,16.9130829" id="Fill-28" fill="#00AEF0"></path></g></svg>
        </a>


        <!--- Search bar --->
        <div class="collapse searchToggler-collapse" id="searchBar">
            <form class="form-inline my-2 my-lg-0" action="search">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 " type="submit" >Search</button>
            </form>
        </div>
        
        <!--- Search and Navbar Toggles -->
        <div>
            <button class="searchToggler bg-dark" type="button" data-toggle="collapse" data-target="#searchBar" aria="searchBar" aria-expanded="false" aria-label="Toggle Search">
                <img src="static/searchIcon.png" alt="Search Icon"/>
            </button>
            <button class="accountButton bg-dark" type="button" aria="accountButton" aria-expanded="false" aria-label="Account Button">
                <img src="static/account.png" alt="Account Icon"/>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
        
        <!--- Menu Content --->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard <img alt="Dashboard Image" src="https://img.icons8.com/android/24/ffffff/cottage.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faculties">Faculties <img alt="Faculties Image" src="https://img.icons8.com/ios-glyphs/30/ffffff/education.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Help">Help <img alt="Help Image" src="https://img.icons8.com/material-sharp/24/ffffff/help.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.uea.ac.uk/about/campus-map" target="_blank">Map <img alt="Map Image" src="https://img.icons8.com/android/24/ffffff/map.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news">News <img alt="News Image" src="https://img.icons8.com/android/24/ffffff/news.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Support">Support <img alt="Support Image" src="https://img.icons8.com/fluent-systems-filled/24/ffffff/online-support.png"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="systems">UEA Systems <img alt="Systems Image" src="https://img.icons8.com/metro/26/ffffff/system-task.png"/></a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
  
    <div class="container-fluid w-75 bg-light">
        <div class="container-fluid bg-light sectionTitle">
            <h1> Covid-19 Update </h1>
            <div class="row">
                <div class="col-sm">
                    <p>Published by Communities</p>
                </div>
                <div class="col-sm">
                    <p>December 1st 2020</p>
                </div>
            </div>
        </div>
        <div>
            <img src="static/news1.jpg" class="card-img-top" alt="News Image">
            <h2 class="text-center">Covid-19 Update and Safety Measures</h2>
            <p> UEA, along with other universities, is required to provide a daily update on COVID-19 cases to the Department for Education (DfE). We are making this information publicly available.
                <br><br>
                The information in the table above relates to a daily period from midnight to midnight which is reported to DfE by 2pm on the next day. We are required by DfE to provide a rolling seven-day total of cases (split by staff and students).
                <br><br>
                UEA is actively encouraging staff and students to undertake asymptomatic testing to identify cases and make campus safer for everyone and is working in partnership with the Earlham Institute (EI) on the Norwich Research Park to do this as part of the Norwich Testing Initiative (NTI). Our own testing initiative scheme, working in partnership with the EI has helped to identify more than three quarters of the students who have tested positive on campus, which demonstrates the importance of testing and making campus safer for everyone.
                <br><br>
                Tests undertaken via the NTI are collected Monday to Friday, with tests collected on a Friday processed into Saturday. There are then no more NTI tests processed until the Monday collection, which will mean lower results reported for Sunday and Monday.
                <br><br>
                It’s vital that we all continue to follow the safety measures both on and off campus to keep each other safe – please refer to our <a class="text-custom" href="https://www.youtube.com/watch?v=ZPYnXxW5M88&feature=youtu.be" target="_blank">Safety First video</a>, <a class="text-custom" href="https://my.uea.ac.uk/documents/20142/3241028/Safety+First+-+COVID+Checklist.pdf/7b78b3bf-5751-6e96-714c-eb4fe8b72ff0?t=1600183785253" target="_blank">Covid-19 Checklist</a> and the safety guidance for students on My UEA.  You can also find a reminder about the use of face coverings and the one-way routes on My UEA, so please read through if you haven’t done so already.
                <br><br>
            </p>
            <h2 class="text-center">Self-isolation Support</h2>
            <p>
                With everything that’s happening in the news right now, it’s understandable that students may be worried about potentially having to self-isolate if they or someone they live with develops symptoms or tests positive for Covid-19. As mentioned above, there are confirmed cases of Covid-19 within the UEA community and support is being provided to those having to self-isolate. 
                <br><br>
                Please be reassured that the University is ready to help at this difficult time. We can assist with food deliveries, cleaning materials and wellbeing support. Student Services will also keep in touch to make sure students are doing OK. Please find a summary below of what is in place so students know what to expect if asked to self-isolate: 
                <br><br>
                <b>Getting in touch</b> – Both USS and Student Services will get in touch with students if they’re required to self-isolate for any reason, either by email, phone or MS Teams. Student Services will also email students detailing what they need to do and what support is available. Students are reminded to regularly check their phone and email for messages from the University.
                <br><br>
                <b>Food</b> – There are a number of options for getting food during self-isolation. For students living on campus, Campus Kitchen are offering a meal delivery service, and shop(su) are doing same-day grocery deliveries through their Snappy Shopper service. There are plenty of supermarkets in Norwich which also offer grocery delivery services, and a list of these is available in our Self-Isolation Guide. If students are having difficulties getting delivery slots or ordering food whilst in self-isolation, we will be able to provide support. 
                <br><br>
                <b>Cleaning</b> – We’ll provide students in UEA accommodation with cleaning materials if they need to self-isolate, so that they can keep their flats as clean as possible. Rubbish will also be collected from outside campus flats daily, and students will be provided with plenty of bin bags. 
                <br><br>
                <b>Bedding</b> – We know it’s not ideal to go without clean bedding for two weeks – so if students are living in on-campus accommodation and need any, we can provide them with some fresh bedding and towels.
                <br><br>
                <b>Wellbeing</b> - We have a wide range of wellbeing and mental health support available for students, including Student Services, their Residential Life Team, and 24/7 professional health and wellbeing advice from Health Assured. There are also resources available on our Covid-19 Wellbeing Resources page. 
                <br>
                Student Services will also set up a Microsoft Teams chat for households isolating on campus, so that their Student Services Resident and Residential Life Adviser can stay in touch and make sure they have everything they need. 
                <br><br>
                <b>Learning</b> – Students will still be able to engage with any live and on-demand online teaching, and can access our Digital Library 24/7. Find further information on support available from the Library FAQs.
                <br><br>
                <b>Keeping busy</b> – We’ve thought of a range of things students can do when self-isolating to keep busy, including virtual museum tours, online writing courses, board games and more (find the full list in the Welcome to UEA collection in Ryze), uea(su) online events, Do Something Different online activities and home workouts from uea+sport. 
                <br><br>
            </p>
        <div>
            <a href="news">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Back to News</button>
            </a>
        </div>
        
    </div>
    <br>
    <br>
    </main> 

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
      <p style="color:white; text-align:center"> © UEA. All rights reserved. University of East Anglia, Norwich Research Park, Norwich, Norfolk, NR4 7TJ, UK | +44 (0) 1603 456161 </p>
      <div class="container text-center">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid columns -->
          <div class="col-md-6 mx-auto">
            <a href="https://beta.uea.ac.uk/about/university-information/statutory-and-legal/website" target="_blank" class="text-light">Accessibility/Cookie Policy</a>
          <div class="col-md-6 mx-auto">
            <a href="https://beta.uea.ac.uk/about/university-information/statutory-legal-policies" target="_blank" class="text-light">Legal Statements</a>
          </div>
          <div class="col-md-6 mx-auto">
            <a href="https://beta.uea.ac.uk/about/university-information/statutory-legal-policies/modern-slavery-statement" target="_blank" class="text-light">Statement on Modern Slavery</a>
          </div>
          <div class="col-md-6 mx-auto">
            <a href="https://beta.uea.ac.uk/about/university-information/statutory-and-legal/data-protection" target="_blank" class="text-light">Data Protection</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script language="javascript">
        function changeImage() {
            var image = document.getElementById('dropImage');
            if(image.src.match("static/dropDown.png")){
                image.src = "static/dropUp.png";
            }
            else{
                image.src = "static/dropDown.png";
            }
        }
    </script>
  </body>
</html>
